<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    
    <p>Our work is categorized into several distinct areas to better serve our community.</p>
    <ul>
        <li>Environmental</li>
        <p>Efforts to protect and preserve the natural environment are a key part of our mission and redering this service give a sense of fufillment.</p>

        <li>Educational</li>
        <p>Initiatives focused on learning and skill development to improve the lives of those we serve.</p>

        <li>Community Service</li>
        <p>Activities that strengthen and support local communities thus promoting social cohesion.</p>

        <li>Health and Wellness</li>
        <p>Programs aimed at improving physical and mental health for better wellbeing and longevity of life.</p>
    </ul>
</main>

<%- include('partials/footer') %>



